[Unit]
Description=Front Gate Controller Trasmitter Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
SyslogIdentifier = GateControllerTransmitter
ExecStart = python /home/pi/dev/iot-home/security-gate/transmitter/publishGateOpen.py

[Install]
WantedBy=multi-user.target
